# Source
src/

# Development files
.env
.env.example
.env.local
.env.development
.env.test
.env.production
tsconfig.json
.git
.gitignore
.github
.vscode
.idea
*.log

# Temporary files
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db 